<ul class="settings-list">
  <li>
    <a href="/settings">プロフィール設定</a>
  </li>
  <li>
    <a href="/settings/skills">スキルセット設定</a>
  </li>
  <li>
    <a href="/settings/portfolios">ポートフォリオ設定</a>
  </li>
  <li>
    <a href="/settings/invitations">招待設定</a>
  </li>
  <li>
    <a href="/settings/email">メールアドレス変更</a>
  </li>
  <li>
    <a href="/settings/password">パスワード変更</a>
  </li>
  <li>
    <a href="/settings/sns">SNS設定</a>
  </li>
  <li>
    <a href="/settings/destroy">アカウント削除</a>
  </li>
</ul>