<h1>ログイン</h1>
<div class="login-page">
  <div class="container1">
    <div class="container2">
      <%= react_component "LoginForm", info: @login_react_info %>
    </div>
    <div class="container3">
      <%= react_component "SnsForm", info: @sns_react_info %>
      <div class="notice">
        まだアカウントをお持ちでない方は<a href="/signup">新規登録</a>
      </div>
    </div>
  </div>
</div>
