<h1>パスワード再設定</h1>
<div class="password-forgot-done-page">
  <div class="description">
    <h3>確認メールを送信しました</h3>
    <p>ご自身のメールボックスを確認してください</p>
    <p>メールボックスに存在しない場合は、迷惑メールフォルダを確認してください</p>
    <p>それでもメールが届いていない場合は、<a href="/contact">こちら</a>にてご連絡をお願い致します</p>
    <p>メールの内容を確認したら、メールに記載されているリンクをクリックして、パスワードを再設定してください</p>
  </div>
  <div class="return">
    <a href="/">ホーム画面に戻る</a>
  </div>
</div>