<h1>アカウント設定</h1>
<div class="settings-big-container">
  <div class="settings-small-container">
    <%= render partial: "settings_menu" %>
  </div>
  <div class="settings-small-container">
    <% if @current_user.email.nil? %>
      <%= react_component "UserSettingCreateEmailForm", info: @react_info %>
    <% else %>
      <%= react_component "UserSettingPasswordForm", info: @react_info %>
    <% end %>
  </div>
</div>