<h1>新規登録</h1>
<div class="signup-page">
  <div class="attention">
    <h3>はじめに</h3>
    <p>まず<a href="/terms">利用規約</a>および<a href="/privacy">プライバシーポリシー</a>をお読みください</p>
  </div>
  <div class="container1">
    <div class="container2">
      <%= react_component "SignupForm", info: @signup_react_info %>
    </div>
    <div class="container3">
      <%= react_component "SnsForm", info: @sns_react_info %>
      <div class="notice">
        既にアカウントをお持ちの方は<a href="/login">ログイン</a>
      </div>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>