<h1>新規登録</h1>
<div class="signup-notice">
  <h4>はじめに</h4>
  <p>まず<a href="/terms">利用規約</a>および<a href="/privacy">プライバシーポリシー</a>をお読みください</p>
</div>
<div class="big-container">
  <div class="small-container">
    <form method="post" action="/login" class="login-form">
      <h4>ユーザー名</h4>
      <input type="text" name="name">
      <h4 style="margin-top: 20px">メールアドレス</h4>
      <input type="email" name="email">
      <h4 style="margin-top: 20px">パスワード<small>（8字以上、32字以内）</small></h4>
      <input type="password" name="password">
      <h4 style="margin-top: 20px">パスワード<small>（確認用）</small></h4>
      <input type="password" name="password_confirmation">
      <button type="submit">新規登録</button>
    </form>
  </div>
  <div class="small-container">
    <div class="sns-login-form">
      <form method="post" action="/login" class="sns-login">
        <button type="submit" class="twitter"><i class="fab fa-twitter"></i> Twitterで新規登録</button>
      </form>
      <form method="post" action="/login" class="sns-login" style="margin-top: 30px">
        <button type="submit" class="github"><i class="fab fa-github"></i> GitHubで新規登録</button>
      </form>
    </div>
    <div class="login-notice">
      既にアカウントをお持ちの方は<a href="/login">ログイン</a>
    </div>
  </div>
</div>