<h1>お問い合わせ</h1>
<form action="/contact" method="post" class="contact-form">
  <h4>メールアドレス<small>（必須）</small></h4>
  <input type="email" name="email">
  <h4>件名<small>（必須）</small></h4>
  <input type="text" name="title">
  <h4>メッセージ</h4>
  <textarea name="message"></textarea>
  <button type="submit">送信</button>
</form>
