<div class="top-section">
  <h1>デザイナーとプログラマーと繋がれる。一緒にゲーム開発できる。</h1>
  <p>『GCMC』は、グラフィッカーやプログラマー等、役割の違うメンバーを探したいためのマッチングサービスです。</p>
</div>
<div class="features-section">
  <h2>ゲームクリエイター仲間づくりの場所として最高の環境を提供するために</h2>
  <a href="/about" class="more">もっとくわしく</a>
</div>

