<div class="top-section">
  <div class="top-section-main">
    <%= react_component("TopSection") %>
  </div>
</div>
<div class="features-section">
  <h2>ゲームクリエイター仲間づくりの場所として最高の環境を提供するために</h2>
  <a href="/about" class="more">もっとくわしく</a>
</div>

