<h1>プロジェクト一覧</h1>
<div class="projects-index-page">
  <div class="container1">
    <div class="container2">
      <%= react_component "ProjectSearchForm", info: @search_react_info %>
    </div>
    <div class="container3">

    </div>
  </div>
</div>