<h1>プロジェクト設定</h1>
<div class="settings-big-container">
  <div class="settings-small-container">
    <%= render partial: "settings_menu" %>
  </div>
  <div class="settings-small-container">
    <%= react_component "ProjectSettingPublishForm", info: @react_info %>
  </div>
</div>