// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  font-family: "ヒラギノ丸ゴ Pro W4",
  "ヒラギノ丸ゴ Pro",
  "Hiragino Maru Gothic Pro",
  "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro",
  "HG丸ｺﾞｼｯｸM-PRO",
  "HGMaruGothicMPRO",
  sans-serif;
  box-sizing: border-box;
  &.focus{
    outline: none;
  }
}

a{
  text-decoration: none;
  color: #4A90E2;
  &:hover{
    color: #4A90E2;
  }
}

body{
  margin: 0;
  background-color: white;
}

input{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

select{
  outline: none;
}

textarea{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  resize: none;
}

input[type="checkbox"]{
  outline: black;
  appearance: auto;
  border-radius: 0;
}

input[type="radio"]{
  outline: black;
  appearance: auto;
  border-radius: 0;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

h1{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #00CC99;
  text-align: center;
}

h2{
  margin: 0;
  padding: 0;
}

h3{
  margin: 0;
  padding: 0;
}

h4{
  margin: 0;
  padding: 0;
}

h5{
  margin: 0;
  padding: 0;
}

h6{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}

address{
  font-style: normal;
}

div.main-content{
  padding-top: 60px;
  min-height: 1000px;
}

div.main-content-done{
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  text-align: center;
  background-color: #CCF2FF;
  color: #00BFFF;
}
// -------------------- HEADER --------------------

header {
  $breakpoint: 1000px;
  width: 100%;
  height: 60px;
  background-color: #00FFBF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  a.logo {
    display: block;
    width: 180px;
    height: 50px;
    position: absolute;
    background-image: image-url("HeaderLogo.png");
    background-size: cover;
    top: 5px;
    left: 10px;

    &:hover {
      background-image: image_url("HeaderLogoHover.png");
    }
  }

  a.guest-button {
    width: 105px;
    height: 40px;
    border: 3px solid white;
    border-radius: 8px;
    text-align: center;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    position: absolute;

    &:hover {
      border-color: #CCFFF2;
      color: #CCFFF2;
    }
  }

  ul.header-menu {
    @media(max-width: $breakpoint) {
      display: none;
    }
    @media(min-width: $breakpoint) {
      display: flex;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 20px;
      left: 200px;
    }

    li {
      font-size: 18px;
      color: white;
      font-weight: 600;
      list-style: none;
      line-height: 20px;
      padding-right: 10px;
      padding-left: 10px;

      a {
        color: white;

        &:hover {
          color: #CCFFF2;
        }
      }
    }
  }

  form.header-search-form {
    @media(max-width: $breakpoint) {
      display: none;
    }
    @media(min-width: $breakpoint) {
      display: block;
      margin: 0;
      padding: 0;
      width: 190px;
      height: 30px;
      position: absolute;
      top: 15px;
      right: 250px;

      input[type="text"] {
        display: block;
        width: 150px;
        height: 30px;
        line-height: 20px;
        background-color: #B3FFEC;
        color: #008060;
        outline: none;
        padding: 5px 5px 5px 10px;
        border: none;
        position: absolute;
        top: 0;
        left: 0;

        &::placeholder {
          color: #8AE6CF;
        }
      }

      button[type="submit"] {
        display: block;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #00CC99;
        color: white;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  a.guest-button {
    @media(max-width: $breakpoint) {
      display: none;
    }
    @media(min-width: $breakpoint) {
      display: block;
      &:nth-child(1) {
        top: 10px;
        right: 125px;
      }
      &:nth-child(2) {
        top: 10px;
        right: 10px;
      }
    }
  }

  button.hamburgerButton {
    @media (min-width: $breakpoint) {
      display: none;
    }
    @media(max-width: $breakpoint) {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 40px;
      padding: 0;
      border: 0;
      background: none;
      cursor: pointer;
      div.hamburgerIcon {
        width: 50px;
        height: 40px;
        background-size: cover;

        &.close {
          background-image: image_url("HamburgerButtonOpen");

          &:hover {
            background-image: image_url("HamburgerButtonOpenHover");
          }
        }

        &.open {
          background-image: image_url("HamburgerButtonClose");

          &:hover {
            background-image: image_url("HamburgerButtonCloseHover");
          }
        }
      }
    }
  }

  a.new-project-button {
    @media(max-width: $breakpoint) {
      display: none;
    }
    @media(min-width: $breakpoint) {
      display: block;
      width: 160px;
      height: 40px;
      background-color: #8C66FF;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      color: white;
      border-radius: 8px;
      position: absolute;
      top: 10px;
      right: 70px;
    }
  }

  button.user-button {
    @media(max-width: $breakpoint) {
      display: none;
    }
    @media(min-width: $breakpoint) {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
      width: 50px;
      height: 50px;
      img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }

  div.popup-menu {
    @media(max-width: $breakpoint) {
      display: none;
    }
    @media(min-width: $breakpoint) {
      padding: 10px;
      position: absolute;
      top: 55px;
      right: 5px;
      width: 300px;
      height: 320px;
      border: 1px solid #9B9B9B;
      background-color: white;
      z-index: 1000;
      div.popup-menu-name {
        padding-top: 5px;
        padding-bottom: 15px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
      }

      ul {
        li {
          border-top: 1px solid #E6E6E6;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 2px;

          a, button {
            display: block;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            color: #BFBFBF;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }

  div.pull-down-menu {
    overflow-y: hidden;
    transition: height 0.75s;
    background-color: #008060;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;

    ul.pull-down-menu {
      padding-top: 5px;
      padding-bottom: 15px;

      li {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #004D39;

        a {
          line-height: 30px;
          font-size: 18px;
          font-weight: 400;
          color: white;

          &:hover {
            color: #CCFFF2;
          }
        }
      }
    }

    form.menu-search-form {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 30px;
      position: relative;

      input[type="text"] {
        display: block;
        width: calc(100% - 40px);
        height: 30px;
        line-height: 20px;
        background-color: #B3FFEC;
        color: #008060;
        outline: none;
        padding: 5px 5px 5px 10px;
        border: none;
        position: absolute;
        top: 0;
        left: 0;

        &::placeholder {
          color: #8AE6CF;
        }
      }

      button[type="submit"] {
        display: block;
        width: 40px;
        height: 30px;
        background-color: #00E6AC;
        color: white;
        font-size: 20px;
        line-height: 30px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .bottom-menu {
      margin-top: 20px;
      background-color: #009973;

      ul {
        padding-right: 10px;
        padding-left: 10px;

        li {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 2px;

          div.user-info {
            height: 60px;
            position: relative;

            img {
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 25px;
              position: absolute;
              top: 5px;
              left: 0;
            }

            div.user-name {
              height: 30px;
              line-height: 30px;
              font-size: 20px;
              font-weight: 300;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: white;
              position: absolute;
              top: 15px;
              left: 60px;
            }
          }

          a, button {
            line-height: 30px;
            font-size: 18px;
            font-weight: 400;
            color: white;

            &:hover {
              color: #CCFFF2;
            }
          }

          &:nth-child(n+2) {
            border-top: 1px solid #00664D;
          }
        }
      }
    }

    &.close {
      height: 0;
    }

    &.open-guest {
      height: 375px;
    }

    &.open-user {
      height: 645px;
    }
  }
}

// -------------------- FOOTER --------------------
footer{
  width: 100%;
  min-height: 100px;
  background-color: #DAE6E3;
  color: #79807E;

  ul.menu{
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content:center;
    li{
      padding: 5px 10px;
      a{
        line-height: 20px;
        font-size: 14px;
        color: #79807E;
        &:hover{
          color: #919997;
        }
      }
    }
  }

  h5{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }

  a.twitter{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    img{
      width: 40px;
      height: 40px;
    }
  }

  address{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 12px;
  }
}

// -------------------- FLASH-NOTICE --------------------
div.flash-notice{
  width: 100%;
  background-color: #FFA0A0;
  position: fixed;
  bottom: 0;
  z-index: 100000;
  transition: height 1s;
  p{
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    color: white;
  }
}

// -------------------- TOP-SECTION -------------------

div.top-section {
  background-image: image_url("TopSectionBackground.png");
  background-size: cover;
  @media(max-width: 800px){
    width: 100%;
    height: 320px;
  }
  @media(min-width: 800px){
    width: 100%;
    height: 480px;
  }
  div.top-section-main {
    background-image: image_url("TopSectionBackground2.png");
    background-size: 100% 100%;

    h1 {
      margin-top: 0;
      font-weight: 600;
      text-align: left;
      transition: color 1s;

      &.hide {
        color: transparent;
      }

      &.show {
        color: white;
      }
    }

    p {
      font-weight: 400;
      text-align: left;
      transition: color 1s;

      &.hide {
        color: transparent;
      }

      &.show {
        color: white;
      }
    }

    a.signup-button {
      border-style: solid;
      border-color: white;
      text-align: center;
      background-color: rgba(0, 255, 191, 0.3);
      color: white;
      font-weight: 600;

      &:hover {
        background-color: rgba(0, 255, 191, 0.5);
        border-color: #CCFFF2;
        color: #CCFFF2;
      }
    }

    @media(max-width: 800px) {
      width: 100%;
      height: 320px;
      h1 {
        padding-top: 90px;
        padding-right: 10px;
        padding-left: 30px;
        font-size: 32px;
        line-height: 40px;
      }
      p {
        padding-top: 20px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 20px;
      }
      a.signup-button {
        width: 160px;
        height: 40px;
        border-width: 3px;
        border-radius: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 30px;
        font-size: 16px;
        position: absolute;
        right: calc(50% - 80px);
        bottom: 20px;
      }
    }
    @media(min-width: 800px) {
      width: 100%;
      height: 480px;
      h1 {
        padding-top: 120px;
        padding-left: 60px;
        font-size: 48px;
        line-height: 50px;
      }
      p {
        padding-top: 50px;
        padding-left: 60px;
        font-size: 24px;
        line-height: 30px;
      }
      a.signup-button {
        width: 240px;
        height: 60px;
        border-width: 5px;
        border-radius: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 40px;
        font-size: 24px;
        position: absolute;
        right: calc(50% - 120px);
        bottom: 30px;
      }
    }
  }
}
// -------------------- FEATURES-SECTION -------------------
div.features-section{
  width: 100%;
  background-color: #F7F7F7;
  padding-bottom: 50px;
  h2{
    margin: 0;
    padding: 30px 0 40px;
    line-height: 30px;
    color: #00CC99;
    font-weight: 400;
    text-align: center;
    br{
      @media(min-width: 840px){
        display: none;
      }
    }
    @media(max-width: 500px) {
      font-size: 16px;
    }
    @media(min-width: 500px) {
      font-size: 24px;
    }
  }
  a.more{
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 160px;
    height: 40px;
    border: 1px solid #00CC99;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    color: #00CC99;
    background-color: white;
    line-height: 20px;
  }

  div.features-big-container{
    @media(max-width: 640px){
      width: 240px;
      margin-right: auto;
      margin-left: auto;
    }
    @media(min-width: 640px)and(max-width: 960px){
      width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
    @media(min-width: 960px){
      display: flex;
      width: 840px;
      margin-right: auto;
      margin-left: auto;
    }

    div.features-small-container{
      @media(max-width: 640px){
        width: 240px;
        padding-bottom: 40px;
      }
      @media(min-width: 640px)and(max-width: 960px){
        display: flex;
        width: 600px;
        padding-bottom: 40px;
      }
      @media(min-width: 960px){
        width: 240px;
        margin-right: 20px;
        margin-left: 20px;

      }
      div.features-image-container{
        width: 240px;
        height: 160px;
        div.features-image{
          width: 240px;
          height: 160px;
          &.image-no1{
            background-image: image_url("FeatureImage.png");
          }
        }
      }
      div.features-description-container{
        @media(max-width: 640px){
          padding-top: 10px;
        }
        @media(min-width: 640px)and(max-width: 960px){
          width: 400px;
          padding-left: 20px;
        }
        @media(min-width: 960px){
          padding-top: 10px;
        }
        h4{
          font-size: 20px;
          letter-spacing: 1px;
        }
        p{
          padding-top: 10px;
          font-size: 14px;
          color: #9B9B9B;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

// -------------------- USAGE-SECTION -------------------

div.usage-section{
  width: 100%;
  background-color: #DFF7F1;
  padding-bottom: 50px;
  h2{
    margin: 0;
    padding: 30px 0 40px;
    line-height: 30px;
    color: #00CC99;
    text-align: center;
  }
  h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #008060;
  }
  div.usage-introduction{
    @media(max-width: 740px) {
      margin-right: 10px;
      margin-left: 10px;
    }
    @media(min-width: 740px) {
      width: 720px;
      margin-right: auto;
      margin-left: auto;
    }
    padding-bottom: 20px;
    font-size: 14px;
  }
  div.usage-big-container{
    @media(max-width: 600px){
      width: 270px;
    }
    @media(min-width: 600px)and(max-width: 1100px){
      display: flex;
      flex-wrap: wrap;
      width: 540px;
    }
    @media(min-width: 1100px){
      display: flex;
      width: 1080px;
    }
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    div.usage-small-container{
      margin: 15px;
      width: 240px;
      div.usage-image{
        width: 240px;
        height: 160px;
        &.image-no1{
          background-image: image_url("FeatureImage.png");
        }
      }
      div.usage-description{
        padding-top: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #57D9B8;
      }
    }
  }
}

// -------------------- PROJECTS-SECTION -------------------

div.projects-section{
  h2{
    margin: 0;
    padding: 30px 0 40px;
    line-height: 30px;
    color: black;
    text-align: center;
  }


}

// -------------------- CONCLUSION-SECTION -------------------

div.conclusion-section{
  width: 100%;
  background-color: #CCFFF2;

  padding-bottom: 50px;

  div.conclusion {
    padding-top: 30px;
    @media(max-width: 740px) {
      margin-right: 10px;
      margin-left: 10px;
    }
    @media(min-width: 740px) {
      width: 720px;
      margin-right: auto;
      margin-left: auto;

    }
    p {
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  div.conclusion-notice{
    padding-top: 30px;
    @media(max-width: 740px) {
      margin-right: 10px;
      margin-left: 10px;
    }
    @media(min-width: 740px) {
      width: 720px;
      margin-right: auto;
      margin-left: auto;

    }

    h3{
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      padding-bottom: 10px;
      color: #009973;
    }
    p{
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      @media(min-width: 520px) {
        br{
          display: none;
        }
      }
    }
  }

  ul.conclusion-sign{
    margin-top: 20px;
    @media(max-width: 460px){
      width: 220px;
      margin-right: auto;
      margin-left: auto;
    }
    @media(min-width: 460px){
      display: flex;
      width: 440px;
      margin-right: auto;
      margin-left: auto;
    }
    li{
      padding: 10px;
      a{
        display: block;
        width: 200px;
        height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 20px;
        border: 2px solid #00CC99;
        text-align: center;
        color: #00CC99;
        border-radius: 10px;
        &:hover{
          color: #00FFBF;
          border-color: #00FFBF;
        }
      }
    }
  }
}
// -------------------- MY-PROJECTS -------------------
div.my-projects{
  h2{
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 30px;
    color: #008060;

    &:before{
      border-top: 1px solid #00CC99;
      content: "";
      flex-grow: 1;
      margin-right: 10px;
    }

    &:after{
      border-top: 1px solid #00CC99;
      content: "";
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  h3{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #979797;
  }

  a.new-project-button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 20px;
    width: 220px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #00CC99;
    border-radius: 20px;
    color: #00CC99;
    &:hover{
      border-color: #00FFBF;
      color: #00FFBF;
    }
  }

  div.not-found{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #E6E6E6;
  }

  ul.owner-projects-list{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    li{
      width: 300px;
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #E6E6E6;
      a.image-link{
        display: block;
        img{
          display: block;
          width: 280px;
          height: 147px;
        }
      }
      div.title-link{
        display: block;
        padding-top: 10px;
        a {
          color: black;
          font-size: 20px;
          line-height: 25px;
        }
      }
      div.description{
        padding-top: 5px;
        padding-bottom: 20px;
        max-height: 80px;
        font-size: 14px;
        line-height: 20px;
        color: #BFBFBF;
      }
      div.buttons{
        display: flex;
        padding-bottom: 20px;
        justify-content: center;
        a{

          display: block;
          width: 100px;
          height: 30px;
          border: 1px solid #00CC99;
          border-radius: 15px;
          color: #00CC99;
          font-size: 16px;
          line-height: 20px;
          padding-top: 4px;
          padding-bottom: 4px;
          margin-right: 5px;
          margin-left: 5px;
          text-align: center;
          &:hover{
            border-color: #00FFBF;
            color: #00FFBF;
          }
        }
      }
    }
  }
}
// -------------------- CONTACT-FORM -------------------
form.contact-form{
  @media (max-width: 500px) {
    margin-right: 10px;
    margin-left: 10px;
  }
  @media (min-width: 500px) {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  padding: 10px 15px 30px;
  border: 1px solid #BFBFBF;
  h4{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    &:nth-child(n+2){
      margin-top: 20px;
    }
  }

  input[type="text"],
  input[type="email"]{
    width: 100%;
    height: 30px;
    border: 1px solid #BFBFBF;
    padding-left: 5px;
    appearance: none;
    &::placeholder{
      color: #E6E6E6;
    }
  }

  textarea{
    border: 1px solid #BFBFBF;
    width: 100%;
    height: 200px;
    padding-left: 5px;
  }

  button[type="submit"]{
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    height: 40px;
    background-color: #00FFBF;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
}

div.settings-big-container{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

  div.settings-small-container{
    padding-right: 20px;
    padding-left: 20px;
  }
}

ul.settings-list{
  width: 240px;
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  padding: 10px 15px;

  li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E6E6E6;
    text-align: center;

    &:first-child {
      border-top: 1px solid #E6E6E6;
    }

    a {
      font-size: 16px;
      line-height: 20px;
      color: black;

      &:hover {
        color: #333333;
      }
    }
  }
}

form.settings-form{
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  padding: 15px 15px 30px;
  @media(max-width: 500px){
    margin-right: 10px;
    margin-left: 10px;
  }
  @media(min-width: 500px){
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  h3{
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
  }

  h4{
    padding-top: 20px;
    font-size: 18px;
    line-height: 20px;
    small{
      font-size: 12px;
      color: #BFBFBF;
    }
  }

  h5{
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="url"]{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid #BFBFBF;
    appearance: none;
    padding-left: 5px;
    &::placeholder{
      color: #E6E6E6;
    }
  }

  textarea{
    margin-top: 5px;
    border: 1px solid #BFBFBF;
    width: 100%;
    height: 300px;
  }

  select{
    margin-top: 5px;
    padding-left: 3px;
    width: 200px;
    height: 30px;
    border: 1px solid #BFBFBF;
  }

  img.thumbnail{
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    width: 240px;
    height: 126px;
  }

  button[type="submit"]{
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    height: 40px;
    background-color: #00FFBF;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 2px;
    &:disabled{
      background-color: #E6E6E6;
      cursor: default;
    }
  }

  div.warning{
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: red;
  }

  div.tags{
    padding-top: 15px;
    p{
      padding-top: 5px;
    }
  }

  div.detail{
    padding-top: 5px;
    font-size: 12px;
    line-height: 20px;
  }
}