// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.project-index-big-container{
  @media(min-width: 900px) {
    width: 840px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: flex;
  }
}

div.project-list-container{
  width: 500px;
  margin-left: 40px;
}

ul.projects{
  width: 500px;
  li{
    width: 500px;
    padding: 0 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #BFBFBF;

    a.thumbnail{
      img{
        width: 480px;
        height: 252px;
      }
    }

    div.title{
      padding-top: 5px;
      a {
        color: black;
        font-size: 20px;
        line-height: 25px;

        &:hover {
          color: #333333;
        }
      }
    }

    div.tags{
      display: flex;
      flex-wrap: wrap;
      div.tag{
        font-size: 16px;
        line-height: 20px;
        height: 30px;
        border: 2px solid #00CC99;
        border-radius: 5px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 3px 20px;
        text-align: center;
        color: #00CC99;
      }
    }
    div.content{
      padding-top: 10px;
      padding-bottom: 5px;
      color: #9B9B9B;
      font-size: 12px;
      line-height: 15px;
    }

    div.owner{
      height: 70px;
      position: relative;
      a:nth-child(1){
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        left: 0;
        img{
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
      }
      a:nth-child(2){
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: 25px;
        left: 60px;
        font-size: 16px;
        color: black;
        &:hover{
          color: #333333;
        }
      }
    }

    table.status{
      font-size: 16px;
      tbody{
        tr{
          td:nth-child(2),
          td:nth-child(4){
            padding-right: 10px;
          }
        }
      }
    }

  }
}
// -------------------- SEARCH FORM --------------------
form.project-search-form{
  width: 300px;
  padding: 20px 15px 30px;
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  h4{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 20px;

    &:before{
      border-top: 1px solid black;
      content: "";
      flex-grow: 1;
      margin-right: 10px;
    }

    &:after{
      border-top: 1px solid black;
      content: "";
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  input[type="text"]{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #E6E6E6;
    padding-left: 5px;
    &::placeholder{
      color: #BFBFBF;
    }
  }
  div.checkboxes{
    p{
      padding-top: 5px;
      &:nth-child(n+2){
        padding-left: 10px;
      }
    }
  }

  div.radiobutton{
    p{
      padding-top: 5px;
      &:first-child{
        padding-top: 20px;
      }
    }
  }

  div.tags{
    padding-bottom: 20px;
    border-bottom: 1px solid #BFBFBF;
  }
  button[type="submit"]{
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    height: 40px;
    background-color: #00FFBF;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }
}

// -------------------- PAGINATION FORM --------------------

form.projects-pagination{
  input[type="submit"]{
    display: none;
  }
}
// -------------------- NEW PROJECT FORM --------------------

form.new-project-form{
  @media(max-width: 500px){
    margin-right: 10px;
    margin-left: 10px;
  }
  @media(min-width: 500px){
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  margin-bottom: 200px;
  padding: 20px 15px 30px;
  border: 1px solid #BFBFBF;
  border-radius: 10px;

  p{
    margin-top: 30px;
  }
  h4{
    font-size: 18px;
    line-height: 20px;
    small{
      font-size: 12px;
      color: #BFBFBF;
    }
    &:nth-child(n+2){
      margin-top: 20px;
    }
  }

  h5{
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF;
  }

  input[type="text"]{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid #BFBFBF;
    appearance: none;
  }

  textarea{
    margin-top: 5px;
    border: 1px solid #BFBFBF;
    width: 100%;
    height: 300px;
  }

  select{
    margin-top: 5px;
    padding-left: 3px;
    width: 200px;
    height: 30px;
    border: 1px solid #BFBFBF;
  }

  img{
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    width: 240px;
    height: 126px;
  }

  button[type="submit"]{
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    height: 40px;
    background-color: #00FFBF;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 2px;
  }

  div.warning{
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: red;
  }
}

// -------------------- PROJECT SETTINGS --------------------

form.wants-setting-form{
  input[type="number"]{
    margin-top: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #BFBFBF;
    appearance: none;
    padding-left: 5px;
    &::placeholder{
      color: #E6E6E6;
    }
  }

  ul.wants-list{
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    li{
      padding-top: 10px;
      display: flex;
      div.want-name{
        width: calc(100% - 30px);
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        color: #979797;
      }
      div.want-amount{
        width: 30px;
        text-align: right;
        font-size: 14px;
        line-height: 20px;
        color: #979797;
      }
    }
  }
  div.amount-explanation{
    padding-top: 5px;
    color: black;
    font-size: 14px;
    line-height: 20px;
  }
}

form.links-setting-form{
  ul.project-links{
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
    li{
      padding-top: 5px;
      padding-bottom: 5px;
      div.link-name{
        button{
          font-size: 16px;
          line-height: 20px;
          color: #00CC99;
          &:hover{
            color: #00FFBF;
          }
        }
      }
      div.link-url{
        font-size: 12px;
        color: #BFBFBF;
      }
    }
  }
}

form.publish-setting-form{
  ul.publish-radios{
    padding-top: 10px;
    padding-bottom: 10px;
    li{
      padding-bottom: 5px;
    }
  }

  div.publish-description{
    font-size: 14px;
    color: #979797;
  }
}

// -------------------- PROJECT SHOW --------------------

div.project-show {
  h3 {
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 30px;
    color: black;

    &:before {
      border-top: 1px solid #979797;
      content: "";
      flex-grow: 1;
      margin-right: 10px;
    }

    &:after {
      border-top: 1px solid #979797;
      content: "";
      flex-grow: 1;
      margin-left: 10px;
    }
  }
  div.project-top-image{
    width: 100%;
    height: 360px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  div.project-container1{
    padding-top: 30px;
    display: flex;
    div.project-container2{
      width: 640px;
      margin-right: auto;
      margin-left: auto;
      div.project-tags{
        display: flex;
        flex-wrap: wrap;
        div.project-tag{
          margin-right: 10px;
          margin-bottom: 10px;
          height: 30px;
          line-height: 20px;
          padding: 3px 10px;
          border: 2px solid #00CC99;
          border-radius: 8px;
          color: #00CC99;
        }
      }
      div.project-header{
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 20px;
      }
      div.project-owner-user{
        width: 100%;
        height: 50px;
        position: relative;
        div.project-owner-user-image{
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
          a{
            img{
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 25px;
            }
          }
        }
        div.project-owner-user-owner{
          width: calc(100% - 60px);
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #979797;
          position: absolute;
          top: 0;
          left: 60px;
        }
        div.project-owner-user-name{
          width: calc(100% - 60px);
          height: 30px;
          font-size: 18px;
          line-height: 30px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
          top: 20px;
          left: 60px;
          a{
            color: black;
            &:hover{
              color: #7F7F7F;
            }
          }
        }
      }
      div.project-title{
        padding-top: 20px;
        font-size: 30px;
        line-height: 40px;
      }
      div.project-description{
        padding-top: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #979797;
      }
      div.project-links{
        padding-top: 20px;
        h4{
          font-size: 22px;
          line-height: 30px;
        }
        ul.project-links-list{
          padding-top: 10px;
          li{
            padding-top: 10px;
            padding-bottom: 10px;
            div.project-link-name{
              font-size: 18px;
              line-height: 20px;
            }
            div.project-link-url{
              padding-top: 5px;
              line-height: 20px;
              a{
                text-decoration: underline;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    div.project-container3{
      width: 300px;
      margin-right: auto;
      margin-left: auto;
      div.project-environment{

        h4{
          padding-top: 20px;
          font-size: 18px;
          line-height: 20px;
        }
        p{
          padding-top: 5px;
          font-size: 14px;
          color: #979797;

        }
      }
    }
  }
}

// -------------------- PROJECT JOIN FORM --------------------
div.project-join-container1{
  display: flex;
  div.project-join-container2{
    div.project-join{
      width: 300px;
      border: 1px solid #BFBFBF;
      border-radius: 10px;
      padding: 10px;

      div.project-image{
        width: 280px;
        height: 147px;
        img{
          display: block;
          width: 280px;
          height: 147px;
        }
      }

      div.project-content{
        padding: 10px 5px;
        div.project-content-title{
          a{
            font-size: 20px;
            line-height: 30px;
            color: black;
            &:hover{
              color: #7F7F7F;
            }
          }
        }


        div.project-content-owner{
          margin-top: 5px;
          width: 100%;
          height: 50px;
          position: relative;
          div.project-content-owner-image{

            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;
            img{
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 25px;
            }
          }
          div.project-content-owner-title{
            width: 210px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #979797;
            position: absolute;
            top: 0;
            left: 60px;
          }
          div.project-content-owner-name{
            width: 210px;
            height: 30px;
            position: absolute;
            top: 20px;
            left: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
              font-size: 18px;
              line-height: 30px;
              color: black;
              &:hover{
                color: #7F7F7F;
              }
            }
          }

        }
        div.project-content-description{
          margin-top: 10px;
          max-height: 200px;
          overflow: hidden;
          font-size: 14px;
          line-height: 20px;
          color: #979797;
        }
      }
    }
  }
  div.project-join-container3{
    form.project-join-form{
      border: 1px solid #BFBFBF;
      border-radius: 10px;
      padding: 0 15px 30px;
      @media(max-width: 500px){
        margin-right: 10px;
        margin-left: 10px;
      }
      @media(min-width: 500px){
        width: 480px;
        margin-right: auto;
        margin-left: auto;
      }

      h4{
        padding-top: 20px;
        font-size: 18px;
        line-height: 20px;
      }

      textarea{
        margin-top: 5px;
        border: 1px solid #BFBFBF;
        width: 100%;
        height: 100px;
      }

      select{
        margin-top: 5px;
        padding-left: 3px;
        width: 250px;
        height: 30px;
        border: 1px solid #BFBFBF;
      }

      button[type="submit"]{
        display: block;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 160px;
        height: 40px;
        background-color: #00FFBF;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        letter-spacing: 2px;
      }

      ul.wanted-positions{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E6E6E6;
        li{
          padding-top: 5px;
          padding-bottom: 10px;
          div.position-name{
            font-size: 16px;
            color: black;
            line-height: 20px;
          }
          div.position-amount{
            font-size: 14px;
            color: #979797;
            line-height: 20px;
          }
        }
      }
    }
  }
}

// -------------------- PROJECT JOIN REQUEST FORM --------------------
ul.join-requests {
  li {
    padding-bottom: 20px;
    form.project-join-request-form {
      width: 480px;
      padding: 0 15px 30px;
      border: 1px solid #BFBFBF;
      border-radius: 10px;

      h4 {
        padding-top: 20px;
        font-size: 18px;
        line-height: 20px;
      }

      div.applicant-user {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        position: relative;

        div.applicant-user-image {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;

          img {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 25px;
          }
        }

        div.applicant-user-name {
          width: calc(100% - 60px);
          height: 30px;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: absolute;
          top: 10px;
          left: 60px;

          a {
            font-size: 20px;
            color: black;

            &:hover {
              color: #7F7F7F;
            }
          }
        }
      }

      div.wanted-position {
        padding-top: 5px;
        font-size: 16px;
        line-height: 20px;
        color: #979797;
      }

      div.buttons-container {
        padding-top: 30px;
        display: flex;
        justify-content: center;

        button[type="button"] {
          display: block;
          margin-right: 10px;
          margin-left: 10px;
          width: 120px;
          height: 40px;
          font-size: 20px;
          letter-spacing: 2px;
          border-width: 2px;
          border-style: solid;
          border-radius: 10px;

          &.button-accept {
            border-color: #40FF00;
            color: #40FF00;
            background-color: #D9FFCC;
          }

          &.button-reject {
            border-color: #FF4000;
            color: #FF4000;
            background-color: #FFD9CC;
          }
        }
      }

      input[type="submit"]{
        display: none;
      }
    }
  }
}